syntax: glob
_ReSharper.*/
[Bb]in/
[Oo]bj/
*.user
*.userprefs
*.suo
.DS_Store
Components
packages
Resource.designer.cs
*.pidb
*.swp
*.DS_Store
*.nib
*.pfx
*_ReSharper.*/
test-results
*.sln.cache
*.usertasks
